<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="carousel-inner">
      <img src="../../../assets/homeimg/service5.jpg" alt="">
    </div>
  <div class="card-body">
    <h5 class="card-title">{{'card1.title' | translate}}</h5>
    <p class="card-text">{{'card1' | translate}}</p>
    <a href="#" class="btn btn-primary" routerLink="/service-stations">{{'Let me see' | translate}}</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="carousel-inner">
    <img src="../../../assets/homeimg/car1.jpg" alt="">
  </div>
<div class="card-body">
  <h5 class="card-title">{{'card2.title' | translate}}</h5>
  <p class="card-text">{{'card2' | translate}}</p>
  <a href="#" class="btn btn-primary" routerLink="/vehicles">{{'Let me see' | translate}}</a>
</div>
</div>
 
    <div class="card" style="width: 18rem;">
        <div class="carousel-inner">
          <img src="../../../assets/homeimg/service6.jpg" alt="">
        </div>
      <div class="card-body">
        <h5 class="card-title">{{'card3.title' | translate}}</h5>
        <p class="card-text">{{'card3' | translate}}</p>
        <a href="#" class="btn btn-primary" routerLink="/service-types" >{{'Let me see' | translate}}</a>
      </div>
    </div>
</div>
<h6>© Vehicle Register</h6>
